*,
*::before,
*::after {
    box-sizing: border-box;
}

body, header {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
header {
  background-color: #ffffff;
  padding: 20px 0;
}


nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover {
  background-color: #d8d8d8;
  color: #000000;
  border-radius: 20px;
}

nav ul li:nth-child(4) a {
  color: #ffffff;
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}


/* Styles pour la section de la moto */
.moto-section {
  background-color: #000000; /* Fond noir */
  color: #ffffff; /* Couleur de texte blanc */
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  padding: 50px;
  max-height: 800px;
}

/* Styles pour le nom de la moto */
.moto-info {
  text-align: left; /* Alignement du texte à gauche */
  margin: 0;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 20px; /* Réduire la marge à gauche */
}

/* Styles pour le bouton "Voir détail" */
.voir-detail-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff; /* Fond blanc */
  color: #000000; /* Texte noir */
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px; /* Réduire la marge à droite */
}

.voir-detail-btn:hover {
  color: #000000;
}

/* Styles pour l'image de la moto */
.moto-image {
  text-align: center; /* Centrer l'image */
}

.moto-image img {
  max-width: 100%;
  width: 800px; /* Ajuster la largeur automatiquement */
}



.container img {
  width: 400px;
}

.test{
  background-color: #000;
  padding: 50px;
}


.motocycle {
  padding: 50px;
}

.motocycle h1{
  text-align: center;
  font-size: 2rem;
  
}
.motocycle h3 {
  text-align: center;
  color: #FF6262;
}

.comment {
  padding: 50px;
  background-color: #fff;
}

.comment h1{
  text-align: center;
  font-size: 2rem;
  color: #000;
  
}
.comment h3 {
  text-align: center;
  color: #FF6262;
}
footer {
  padding: 20px;
}


/* Styles pour la section de recherche */
.search-section {
  background-color: transparent; /* Fond transparent */
  position: relative;
  top: 100%; /* Placer au milieu */
  left: 50%; /* Placer au milieu */
  transform: translate(-50%, -50%); /* Centrer horizontalement et verticalement */
  text-align: center; /* Centrer le contenu horizontalement */
  z-index: 2; /* Position au-dessus de la section de la moto */
  box-shadow: 5px 5px 9px rgba(154, 154, 154, 0.5); /* Ombre */
  width: 40%;
}



/* Styles pour le conteneur de recherche */
.search-container {
  background-color: #ffffff; /* Fond blanc */
  border: 2px solid #000000; /* Bordure noire */
  border-radius: 10px; /* Coins arrondis */
  padding: 20px;
  display: flex; /* Utilisation de flexbox */
  flex-direction: center; /* Empile les éléments verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}

/* Styles pour les champs de dates */
.date-inputs {
  display: flex; /* Utilisation de flexbox */
  position: relative;
}

.date-inputs input {
  padding: 15px; /* Ajuster le rembourrage */
  margin-right: 20px; /* Ajuster la marge */
  border: 2px solid #000000; /* Bordure noire */
  border-radius: 10px; /* Coins arrondis */
  width: 200px; /* Ajuster la largeur */
}

/* Styles pour le bouton de recherche */
.search-button {
  padding: 15px 30px; /* Ajuster le rembourrage */
  background-color: #FF6262; /* Fond rouge */
  color: #ffffff; /* Texte blanc */
  border: none;
  align-items: center;
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
}

.services {
  padding: 50px;
  font-size: 1.2rem;
}

.services h1{
  text-align: center;
  font-size: 3rem;
  
}

.services h2 {
  text-align: center;
  font-size: 2rem;
}
.services h3 {
  text-align: center;
  color: #FF6262;
}
.services .container {
  display: flex;
}

/* Styles pour la section de services */
.services-section {
  background-color: #ffffff; /* Fond blanc */
  padding: 50px;
  text-align: center; /* Centrer le contenu horizontalement */
}



/* Styles pour les conteneurs de service */
.service-container {
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Espace égal entre les éléments */
}

/* Styles pour chaque service */
.service {
  width: 30%; /* Largeur de chaque service */
  margin: -60px; /* Réduire l'espace entre les services */
  margin-top: 20px;
}

.service img {
  max-width: 30%; /* Image s'adaptant à la largeur du conteneur */
}

.service p {
  margin-top: 10px; /* Marge supérieure pour le texte */
}

 






/* MOTO SELECTION */

.moto {
  background-color: #000000;
  padding: 50px;
}

.moto h1{
  text-align: center;
  font-size: 3rem;
  color: #fff;
  
}

.moto h3 {
  text-align: center;
  color: #FF6262;
}

/* AVIS */

.avis{
  width: 30%;
  height: 10%;
  background-color: white;
  padding: 15px;
}

.pp{
  width: 20%;
  height: 20%;
}

.etoiles{
  width: 40%;
}

.personne{
  display: flex;
  gap: 20px;
}

.personne p{
  margin-top: 15px;
}