.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}


h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sedgwick Ave Display", cursive;
  color: white;
  margin-top: 150px;
  margin-bottom: 80px;
}

h2 {  
  margin-left: 200px;
  padding-top: 50px;
  font-size: 1.8rem;
  font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
  color: white;
}

p {
  padding-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 1.3rem;
  color: white;
  font-family: "Nokora", sans-serif;
}

h3 {
  margin-left: 200px;
  font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
  color: white;
  font-size: 1.3rem;
}

h3::before {
  content: "·";
  /* Utilise le caractère "·" comme contenu */
  margin-right: 5px;
  /* Ajoute un espace entre le point et le texte */
}

/* Styles for contact information */
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info  {
  margin: auto;
}

.contact-info p {
  line-height: 1.6;
}

.contact-info-left p strong {
  font-weight: bold;
}

/* Styles for map */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-right: 50px;
  margin-left: 50px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}



