                                             /*  ========= PAGE COMMUN TERME.HTML ========= */
                                             /*  ========= PAGE COMMUN CONFIDENTIALITE.HTML ========= */
                                             /*  ========= PAGE COMMUN CONTACT.HTML ========= */
/* Font pour les titres du footer */
.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}

                                             /*  ========= STYLE TITRES ET TEXTES ========= */
/* Titre */
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sedgwick Ave Display", cursive;
  color: white;
  margin-top: 150px;
  margin-bottom: 80px;
}

/* Titre niveau 2 */
h2 {  
  margin-left: 200px;
  padding-top: 50px;
  font-size: 1.8rem;
  font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
  color: white;
}

/* Texte explicatif */
p {
  padding-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 1.3rem;
  color: white;
  font-family: "Nokora", sans-serif;
}

/* Titre niveau 3 */
h3 {
  margin-left: 200px;
  font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
  color: white;
  font-size: 1.3rem;
}


/* Mets un "•" au début de la phrase */
h3::before {
  content: "·";
  margin-right: 5px;
}


                                             /*  ========= STYLE TEXTES ET TITRES POUR CONTACT.HTML ========= */
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info  {
  margin: auto;
}

.contact-info p {
  line-height: 1.6;
}

.contact-info-left p strong {
  font-weight: bold;
}


                                             /*  ========= STYLE CARTE CONTACT.HTML ========= */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-right: 50px;
  margin-left: 50px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}



