                                             /*  ========= DEBUT DE PAGE ========= */
/* Titre */
h1 {
    padding-top: 80px;
    text-align: center;
    color: white;
    font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

                                             /*  ========= CALENDRIER ========= */
/* Calendrier début */
.debut {
    color: #ffffff;
    font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    margin-top: 25px;
    margin-right: 150px ;
}

/* Calendrier retour */
.retour {
    color: #ffffff;
    font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    margin-top: 25px;
    margin-right: 140px ;
}

/* Calendrier style */
.calendar {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid white;
}

.calendar select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    background-color: transparent;
}


                                             /*  ========= IMAGE DANS LE BACKGROUND (RESERVATION.PHP ET RECAP.PHP) ========= */

/* Positionnement des images (formes blanches) */
.left-image,
.right-image {
    position: absolute;
    width: 400px;
    height: auto;
}

.left-image {
    left: 0;
    top: 80%;
}

.right-image {
    right: 0;
    bottom: 30%;
}


                                             /*  ========= OVERLAY (RESERVATION.PHP ET RECAP.PHP) ========= */
.overlay {
    background-color: #3a3a3a69; 
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    border: 2px solid white;
}


                                             /*  ========= CERLES (RESERVATION.PHP ET RECAP.PHP) ========= */
/* --- Cercles --- */
.circle2 {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.323); 
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 51.7%;
    transform: translate(-50%, -50%);
}

.circle {    
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 48.4%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.circle4 {
    width: 20px; /* Diamètre du cercle */
    height: 20px; /* Diamètre du cercle */
    background-color: rgb(255, 255, 255); /* Couleur blanche */
    border-radius: 50%; /* Pour créer un cercle */
    position: absolute; /* Position absolue pour les superposer */
    top: 40%; /* À mi-chemin verticalement */
    left: 51.7%; /* À mi-chemin horizontalement */
    transform: translate(-50%, -50%); /* Pour le centrer */
}

.circle3 {    
    width: 20px; /* Diamètre du cercle */
    height: 20px; /* Diamètre du cercle */
    background-color: rgba(255, 255, 255, 0.323); /* Couleur blanche */
    border-radius: 50%; /* Pour créer un cercle */
    position: absolute; /* Position absolue pour les superposer */
    top: 40%; /* À mi-chemin vertical3ment */
    left: 48.4%; /* À mi-chemin horizontalement */
    transform: translate(-50%, -50%); /* Pour le centrer */
    width: 20px; /* Diamètre du deuxième cercle */
    height: 20px; /* Diamètre du deuxième cercle */
}



                                             /*  ========= STYLE DU FORMULAIRE ========= */
.form-container {
    width: 300px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* Container texte */
.form-group input[type="text"] {
    width: 46%; /* Ajustement pour la taille */
    padding: 10px;
    border-radius: 5px;
    margin-top: 60px;
    border: 2px solid white; /* Ajout d'une bordure blanche */
    background-color: transparent; /* Suppression du fond blanc */
    color: white;
}

/* Container email */
.form-group input[type="email"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white; /* Ajout d'une bordure blanche */
    background-color: transparent; /* Suppression du fond blanc */
    color: white;
}



                                             /*  ========= "UNE DEUXIEME MOTO ?" ========= */
.moto {
    margin: 40px auto 20px;
    width: fit-content;
    text-align: center;
    
}

/* Titre niveau 2 */
.moto h2 {
    color: #ffffff;
    font-family: "Nokora", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
}



                                             /*  ========= MENU DEROULANT ========= */
.name-moto {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    
}

/* Style du menu déroulant */
#name-moto {
    font-size: 1rem; /* Taille de police agrandie */
    padding: 8px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    background-color: #fff; /* Fond blanc */
    color: #000000; /* Couleur noire */
    font-family: "Nokora", sans-serif;
    font-weight: 600;
    font-style: normal;
}



                                             /*  ========= BOUTON RESERVER ========= */
.form-group input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7b0000;
    color: #ffffff;
    text-decoration: none;
    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: auto;
    font-size: 1rem;
}

/* Bouton hover */
.form-group input:hover {
    background-color: #ffffff;
    color: #7b0000;
}



                                             /*  ========= CASE CONFIRMATION ========= */
.confirmation {
    padding: 5px;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 5px;
}

label {
    font-size: 16px;
    color: #ffffff;
    font-family: "Nokora", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
}


                                             /*  ========= RESPONSIVE ========= */
/* Téléphones portables en portrait */
@media (max-width: 480px) {
    .overlay {
        width: 400px;
    }
    .left-image, .right-image {
        width: 30px;
    }
    .circle2  {
        top: 320px;
        left: 45%;
    }
    .circle {
        top: 320px;
        left: 55%;
    }
}

/* Téléphones portables en paysage */
@media (min-width: 481px) and (max-width: 767px) {
    .overlay {
        width: 400px;
    }
    .left-image, .right-image {
        width: 80px;
    }
    .circle2  {
        top: 320px;
        left: 45%;
    }
    .circle {
        top: 320px;
        left: 55%;
    }
}

/* Tablettes en portrait */
@media (min-width: 768px) and (max-width: 1024px) {
    .overlay {
        width: 500px;
    }
    .left-image, .right-image {
        width: 150px;
    }
    .circle2  {
        top: 320px;
        left: 45%;
    }
    .circle {
        top: 320px;
        left: 55%;
    }
}

/* Tablettes en paysage */
@media (min-width: 1025px) and (max-width: 1279px) {
    .overlay {
        width: 500px;
    }
    .left-image, .right-image {
        width: 300px;
    }
    .circle2  {
        top: 320px;
        left: 47%;
    }
    .circle {
        top: 320px;
        left: 54%;
    }
}

/* Ordinateurs de bureau avec petit écran */
@media (min-width: 1280px) and (max-width: 1366px) {
    .circle2  {
        top: 320px;
        left: 47%;
    }
    .circle {
        top: 320px;
        left: 54%;
    }
}

/* Ordinateurs de bureau avec écran moyen */
@media (min-width: 1367px) and (max-width: 1440px) {
    .circle2  {
        top: 320px;
        left: 47%;
    }
    .circle {
        top: 320px;
        left: 54%;
    }
}

/* Ordinateurs de bureau avec grand écran */
@media (min-width: 1441px) {
    .circle2  {
        top: 320px;
        left: 48%;
    }
    .circle {
        top: 320px;
        left: 52%;
    }
}

